<h2>Reactivos: <small>Dinámicos</small></h2>

<hr>



<form autocomplete="off"
        >

    <!-- nombre -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
            <input class="form-control"
                    placeholder="Nombre de la persona">
            <span class="form-text text-danger">
                *este campo es obligatorio
            </span>
        </div>
    </div>

    <!-- agregar favorito -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">agregar</label>
        <div class="col-sm-9">
            <div class="input-group">
                <input class="form-control"
                       placeholder="Agregar favorito"
                       (keyup.enter)="agregarJuego()">
                
                <button class="btn btn-outline-primary" 
                        type="button" 
                        (click)="agregarJuego()">
                    agregar
                </button>
            </div>   
        </div>
    </div>

    <!-- lista de juegos favoritos -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Favoritos</label>
        <div class="col-sm-9">

            <!-- <div class="input-group mb-1"
                 *ngFor="let juego of persona.favoritos; let i = index">

                <input  class="form-control">
                <button class="btn btn-outline-danger" 
                        type="button" 
                        (click)="eliminar( i )">
                    Eliminar
                </button>
            </div> -->

        </div>
    </div>

    <!-- boton -->
    <div class="row">
        <div class="col-sm-12">
            <button type="button"
                    (click)="guardar()"
                    class="btn btn-primary float-end">
                Guardar 
            </button>
        </div>
    </div>

</form>

<!-- 
<span>Persona</span>
<pre>{{persona | json}}</pre> -->