<h2>Validaciones Reactivas</h2>
<hr>

<div class="row">
    <div class="col">

        <form autocomplete="off" 
              [formGroup]="miFormulario"
              (ngSubmit)="submitForm()">

            <!-- nombre -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Nombre</label>
                <div class="col-sm-6">
                    <input  type="text"
                            class="form-control"
                            placeholder="Nombre del usuario"
                            formControlName="nombre">
                    <span   class="form-text text-danger"
                            *ngIf="isFieldValid('nombre')">
                        Debe ser en formato nombre y apellido
                    </span>
                </div>
            </div>

            <!-- email -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-6">
                    <input  type="email"
                            class="form-control"
                            placeholder="introduzca email"
                            formControlName="email">
                    <span   class="form-text text-danger"
                            *ngIf="emailRequired()">
                        El correo es obligatorio
                    </span>
                    <span   class="form-text text-danger"
                            *ngIf="emailFormato()">
                        No es un correo valido
                    </span>
                    <span   class="form-text text-danger"
                            *ngIf="emailTomado()">
                        El email ya esta en uso
                    </span>
                </div>
            </div>

            <!-- username -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Username</label>
                <div class="col-sm-6">
                    <input  type="text"
                            class="form-control"
                            placeholder="nick del usuario"
                            formControlName="username">
                    <span   class="form-text text-danger"
                            *ngIf="isFieldValid('username')">
                        El nick del usuario es obligatorio
                    </span>
                </div>
            </div>

            <!-- password -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Contraseña</label>
                <div class="col-sm-6">
                    <input  type="password"
                            class="form-control"
                            placeholder="contraseña"
                            formControlName="password">
                    <span   class="form-text text-danger"
                            *ngIf="isFieldValid('password')">
                        La contraseña debe de ser mayor de 6 caracteres
                    </span>
                </div>
            </div>

            <!-- password - 2 -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Confirmar contraseña</label>
                <div class="col-sm-6">
                    <input  type="password"
                            class="form-control"
                            placeholder="contraseña de confirmación"
                            formControlName="password2">
                    <span   class="form-text text-danger"
                            *ngIf="isFieldValid('password2')">
                        La contraseñas deben de ser iguales
                    </span>
                </div>
            </div>

            <!-- boton enviar -->
            <div class="row mb-3">
                <div class="col-sm-5">
                    <button type="submit" 
                            class="btn btn-primary float-end"
                            [disabled]="miFormulario.pending">
                        Crear 
                    </button>
                </div>
            </div>

        </form>

    </div>
</div>


<h2>Form Valid: {{miFormulario.valid}}</h2>

<h2>Form Status: {{miFormulario.status}}</h2>
<h2>Form Pending: {{miFormulario.pending}}</h2>

<h2>Form errors</h2>
<pre>{{miFormulario.errors | json}}</pre>

<h2>Nombre</h2>
<pre>errores = {{ miFormulario.controls['nombre'].errors | json}}</pre>

<h2>Email</h2>
<pre>errores = {{miFormulario.controls['email'].errors | json}}</pre>

<h2>Username</h2>
<pre>errores = {{miFormulario.controls['username'].errors | json}}</pre>

<h2>Password</h2>
<pre>errores = {{miFormulario.controls['password'].errors | json}}</pre>

<h2>Password2</h2>
<pre>errores = {{miFormulario.controls['password2'].errors | json}}</pre>